:root {
    --background-color: #111111;
    --text-color: #eeeeee;
    --link-color: #eeeeee;
}

html[data-theme='light'] {
    --background-color: #eeeeee;
    --text-color: #111111;
    --link-color: #111111;
    --display-green-menu-button:none;
}

html[data-theme='dark'] {
    --background-color: #111111;
    --text-color: #eeeeee;
    --link-color: #eeeeee;
    --display-pink-menu-button:none;
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

@font-face {
    font-family: Roxie;
    font-weight: 1000;
    src: url(./RESSOURCES/Roxie\ rossa.otf);
}

body {
    font-family: Roxie;
    margin: 3vh;
    background: var(--background-color);
    color: var(--text-color);
    transition: 350ms ease-in-out;
}

h1 {
    position: absolute;
    text-align: center;
    font-size:130px;
    /* border: 3px solid green; */
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

a{
    text-decoration: none;
    color: var(--link-color);    
}
.WorkIndex{
    /* border: 1px solid red; */
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
}

.Date{
    /* border: 1px solid red; */
    font-size: 6vw;
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
}

#theme-toggle{
    position: absolute;
    width: 8vw;
    height: 3vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vw;
    margin-left: 1vw;
}

.menu-button-pink{
    position: absolute;
    width: 6vw;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vw;
    margin-right: 1vw;
    display: var(--display-pink-menu-button)
}

.menu-button-green{
    position: absolute;
    width: 6vw;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vw;
    margin-right: 1vw;
    display: var(--display-green-menu-button);
}

.bouton-theme{
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.color-text-theme{
    font-size: 6vw;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
    z-index: -1;
}

@media only screen and (max-width: 600px) {

    h1 {
       font-size: 25vw;
       text-align: center;
    }

    .Date{
        display: none;
    }

    .WorkIndex{
        display: none;
    }

    .menu-button-pink{
        width: 5em;
    }
    
    .menu-button-green{
        width: 5em;
    }

    #theme-toggle{
        width: 20vw;
        height: 10vw;
    
    }
 
 }

 