/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #eeeeee;;
        --body-color: #111111;
        --body-a: #111111;
    }
 }
 
 /* Dark mode */
 @media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #111111;
        --body-color: #eeeeee;
        --a-color: #eeeeee;
    }
 }

@font-face {
    font-family: Roxie;
    font-weight: 1000;
    src: url(./RESSOURCES/Roxie\ rossa.otf);
}

* {
    box-sizing: border-box;
  }

body {
    font-family: Roxie;
    margin: 3vh;

    background: var(--body-bg);
    color: var(--body-color);
}

h1 {
    text-align: center;
    font-size:130px;
    /* border: 3px solid green;     */
}

.WorkIndex{
    /* border: 1px solid red; */
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vh;
}

.Date{
    /* border: 1px solid red; */
    font-size: 6vw;
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vh;
}

a{
    text-decoration: none;
    color: var(--a-color);
    
}

@media only screen and (max-width: 100px) {

    h1 {
       font-size: 3em;
       margin: 2em;
    }
 
    h2 {
       font-size: 2em;
       margin: 1em;
    }
 
 }

 