:root {
    --background-color: #111111;
    --text-color: #eeeeee;
    --link-color: #eeeeee;
}

html[data-theme='light'] {
    --background-color: #eeeeee;
    --text-color: #111111;
    --link-color: #111111;
    --display-green-menu-button:none;
}

html[data-theme='dark'] {
    --background-color: #111111;
    --text-color: #eeeeee;
    --link-color: #eeeeee;
    --display-pink-menu-button:none;
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

@font-face {
    font-family: Roxie;
    font-weight: 1000;
    src: url(./RESSOURCES/Roxie\ rossa.otf);
}

body {
    font-family: Roxie;
    margin: 3vh;
    background: var(--background-color);
    color: var(--text-color);
    transition: all 350ms ease-out;
}

h1 {
    text-align: center;
    font-size: 10vw;
    /* background-color: blue; */
    margin: 10vh;
    z-index: 1;
    top: 0%;
    left: auto 
}

ul {
    /* background-color: red; */
    margin: 10vw;
    list-style: none;
    text-align: justify;
}

a {
    position: relative;
    /* text-align: center; */
    color: var(--link-color);
    text-align: start;
    font-size: 6vw;
    /* background-color: green; */
    margin: 2vw;
    text-decoration: none;
    
}

a:hover {
    color: rgb(0, 255, 0);
}

#theme-toggle{
    position: absolute;
    width: 8vw;
    height: 3vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vw;
    margin-left: 1vw;
    /* background-color: red; */
    z-index: 1;
}

.bouton-theme{
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.color-text-theme{
    font-size: 6vw;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
}

@media only screen and (max-width: 600px) {

    body {
        margin: 0%;
    }

    a {
        font-size: 10vw;
    }

    h1 {
        font-size: 70px;
    }

    #theme-toggle{
        width: 20vw;
        height: 10vw;
        display: none;
    
    }
}